data/genomic
data/genomic/Subsample_DP15.vcf.gz
results/RDA/ordiR2step/ordiR2step.rds
results/RDA/partialRDA/pRDAobjects
results/processing/populationStructure/pcaNeutral.rds
results/processing/populationStructure/Subsampled_neutral.vcf.gz
results/processing/cleaning/data
README2.md